.main{
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}
.productContainer{
    width: 70%;
}
.filterContainer{
    width: 25%;
    max-width: 250px;
}

@media only screen and (max-width:900px){
    .filterContainer{
        display: none;
    }
    .productContainer{
        width: 100%;
    }
}