.main{
    width: 100vw;
    height: 70px;
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-inline: 10%;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.main>button{
    width: 30%;
    max-width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
}

@media only screen and (max-width:900px){
    .main{
        display: flex;
    }
}