.chooseStore>div{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 15px;
}
.chooseStore h2{
  margin-bottom: 20px;
}
.chooseStore>div img{
  width: 100%;
}
.descImg{
  width: 100%;
  margin-top: 50px;
}
.descImg>img{
  width: 100%;
}
.text{
  width: 90%;
  margin-top: 50px;
}
.text>p{
  margin-top: 20px;
}
@media only screen and (max-width:850px){
  .chooseStore>div{
    grid-template-columns: repeat(3,1fr);
  }
}

@media only screen and (max-width:450px){
  .chooseStore>div{
    grid-template-columns: repeat(2,1fr);
  }
}

